:root {
    /* colors */
    --white: #FFFFFF;

    --purple-050: #F8F7FF;
    --purple-100: #E7DDFF;
    --purple-200: #8B5CF6;
    --purple-300: #6A3FCB;
    
    --gray-100: #E2E2E2;
    --gray-200: #3F4658;
    --gray-300: #1E1E1E;

    /* weights */
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--purple-050);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Sora', sans-serif;
    color: var(--purple-200);
    font-weight: var(--bold);
    font-size: 3.2rem;
    line-height: 4rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3.5rem 0;
}

.card-quantity {
    font-size: 1.6rem;
    height: 1.9rem;
}

.card-help {
    font-size: 1.4rem;
    height: 1.7rem;
}

.card-quantity,
.card-help {
    color: var(--gray-200);
    font-weight: var(--medium);
    text-align: center;
}

.card-content {
    height: 24rem;
    width: 27.2rem;
    padding: 2.4rem;
    border-radius: 1rem;
    background-color: var(--white);
    border: 1px solid var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content:has(> .answer) {
  background-color: var(--gray-100);
}

.question {
    color: var(--gray-300);
    font-size: 2.4rem;
}

.answer {
    color: var(--gray-200);
    font-size: 1.6rem;
}

.question,
.answer {
    font-weight: var(--medium);
    text-align: center;
}

.button-container button {
    width: 12.4rem;
    height: 4rem;
    line-height: 1.7rem;
    background-color: var(--purple-300);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: var(--semibold);
    padding: 1.6rem 0;
    border-radius: 0.8rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.button-container button:hover {
    background-color: var(--purple-200);
}
